version: "3.9"

services:

  redis:
    image: redis:7-alpine
    container_name: flight-redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server","--appendonly","yes"]
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: flight-app
    restart: always
    depends_on:
      - redis
    ports:
      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: ${REDIS_HOST}
      SPRING_REDIS_PORT: ${REDIS_PORT}

      # RDS DATABASE
      SPRING_DATASOURCE_URL: ${DB_URL}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}

      #mail
      spring_mail_host: smtp.gmail.com
      spring_mail_port: 587
      spring_mail_username: ${EMAIL_USER}
      spring_mail_password: ${EMAIL_PASS}
      spring_mail_properties_mail_smtp_auth: true
      spring_mail_properties_mail_smtp_starttls_enable: true


      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - flight-network

networks:
  flight-network:

volumes:
  redis_data:
