version: "3.9"

services:

  redis:
    image: redis:7-alpine
    container_name: flight-redis
    restart: always
    command: ["redis-server","--appendonly","yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  app:
    build: .
    container_name: flight-app
    restart: always
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env


    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

    networks:
      - flight-network

networks:
  flight-network:

volumes:
  redis_data:
