<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="text-align: center; margin-bottom: 20px;">
    <img src="C:\Users\Admin\Desktop\flight-app\src\main\resources\Static\images\logo.jpg" alt="Logo" 
         style="width: 150px; height: auto;">

<h3>Dear User,</h3>
<p>Please verify your email address using the following One Time Password:</p>

<div style="
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    text-align: center;
    background-color: #f7f7f7;
">
    <h2 style="margin: 0; font-size: 20px;">OTP For Registration</h2>
    <h1 style="margin: 10px 0 0 0; font-size: 32px; color: #2c3e50;">{{OTP}}}</h1>
</div>
</div>
</body>
</html>